


.item:hover,.submenu:hover{cursor: pointer;text-shadow:2px 2px 2px;}
.submenu:hover{border:1px solid;}
.submenu:hover{background:rgba(200,200,200,0.4);-webkit-transition: background 1s linear, border 0s;}

.celulaOut{opacity:.4;-webkit-transition: 1s ;}
.celulaIn{background:rgba(250,100,100,0.4);}

