/*Folha de estilo referente aos modais*/

.modal-content {display:none;}
.modal_footer{
	background: url(../img/borda.png)  no-repeat;
	height: 100px;
	margin-top: 2px;
}

.spanDesc{font-size:12px;}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:360px; width:600px; color:#bbb; background-color:#333; border:4px solid #444; padding:12px;border-radius:10px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}


/*Modal - Flexbox */
.flex_modal, .level{display:  -webkit-box;display:  -moz-box;box-pack: justify;}
.flex_modal div.itens{-ms-flex: 2 0 auto; width:200px;}
.flex_modal div.progress{-ms-flex: 1 0 auto;}























